body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
g[class^="raphael-group-"][class$="-creditgroup"] {
  display: none !important;
}
table.dataTable tbody tr {
  background-color: #f2f2f2;
}
a {
  cursor: pointer;
}
.graycolortable {
  background: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #ffffff;
}
.modal {
  display: content !important;
}
li.pvlist {
  width: fit-content;
  text-align: center;
}
a.pvlist {
  color: black;
}
.nav-pills > li.active.pvlist > a {
  background: #666666 !important;
}
#sel {
  width: 100px;
}
.dataTables_filter {
  margin-right: 15px;
  float: right;
  display: inline-block;
}
.dataTables_length {
  display: inline-block;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #f9f9f9 !important;
}
.btn-default {
  border-color: transparent;
}
.newfarmer .btn-default {
  border-color: darkgray;
  margin-top: -3px;
}
.newfarmer .btn-default:hover {
  border-color: blue;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0 !important;
}
.dataTables_wrapper .dataTables_filter input {
  border-radius: 5px;
  background: transparent !important;
  border-style: ridge !important;
}
input[type="search"]:focus {
  outline: none;
}
label {
  font-weight: 500 !important;
  color: gray;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rmssidebar {
  margin-bottom: 35px;
}
.col-xs-9 {
  text-align: left;
}
ul {
  list-style-type: none;
}
.btn.disabled {
  background: transparent !important;
  border-color: gray !important;
  color: black !important;
}
.headerbutton {
  float: left !important;
  margin-right: 0px !important;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  display: none;
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
  display: none;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  display: none;
}
a.disabled {
  /*pointer-events: none;
 */
  cursor: not-allowed;
}
.filterbuttonreset {
  margin-top: 8px;
  margin-right: -20px;
  float: right;
  border-radius: 0;
  border-color: blue;
  /* border-width: 1.2px; */
  color: blue;
  outline: none !important;
  width: 8%;
}
.filterbuttonapply {
  margin-top: 8px;
  margin-right: 18px;
  outline: none !important;
  float: right;
  background: #3a50fc !important;
  border-radius: 0;
  width: 8%;
}
.btn-primary:hover {
  background-color: #3a50fc;
}
.btn-primary:active {
  background-color: #3a50fc;
}
.btn-default:hover {
  background: white;
  border-color: transparent;
  color: blue;
}
.btn-default:active {
  background: white;
  outline: none;
}
.sidebarheader {
  display: none !important;
}
.dropdown {
  margin: 7px;
}
.navbar-collapse {
  max-height: 460px !important;
  overflow-y: auto !important;
  padding-left: 10px !important;
}
.filterIcon {
  display: none;
  /*transform: rotate(90deg);
 */
}
.navbar-default {
  background-color: white;
}
.navbar-default1 {
  background-color: #e3e1d2;
}
.verticalLine {
  border-right: 1.5px solid #aab;
  margin: auto;
}
.container {
  padding: 0;
  margin: 0;
}
.navbar {
  margin-bottom: 0px;
}
.headerdivider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.filterImg {
  width: 14%;
  margin-top: -10px;
}
.filterText {
  margin-left: 10px;
}
.filterItem {
  margin-left: 5px;
  width: 140px;
}
.btn .caret {
  margin-left: 8px;
}
.gaurav {
  float: right;
}
.main {
  -webkit-box-flex: 3;
  /*-ms-flex: 3;
 */
  flex: 3;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
  min-height: 100%;
  width: -webkit-fill-available;
}
#filter {
  background-color: #edeef0;
  border-bottom-color: darkgray;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 18px 0 0;
}
.main_sidebar {
  /*min-height:100vh;
 */
  position: relative;
  /*top:52px;
 */
  left: 0;
  background: #f9f9f9;
  order: 1;
  /*width:min-content;
 */
  transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
  box-shadow: inset -1px 0 5px rgba(0, 0, 0, 0.4);
}
.main_sidebar ul {
  padding-left: 69px;
}
.main_sidebar ul li {
  padding: 8px 1px 12px;
  display: flex;
  width: min-content;
  opacity: 0.3;
}
.main_sidebar ul li a {
  color: #777;
  display: block;
}
.main_sidebar ul li i {
  float: left;
  color: grey;
  margin-left: -58px;
  font-size: 24px;
  padding-left: 7px;
}
.main_sidebar ul li i img {
  width: 54%;
}
.main_sidebar ul li:hover {
  background: #3a50fc;
  opacity: 1;
}
.main_sidebar ul li a {
  color: #fff;
  text-decoration: none;
}
.main_sidebar ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.main_sidebar ul li i {
  color: #aaa;
}
.main_sidebar ul li:hover i {
  color: black;
}
.main_sidebar ul li.active {
  background: #3a50fc;
  opacity: 1;
}
.main_sidebar ul li.active i {
  color: black;
}
.main_sidebar ul li.active:hover {
  background: #3a50fc;
}
.main_sidebar ul li.active:hover i {
  color: black;
}
#root
  > div
  > div.mainbody
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  > div:nth-child(1) {
  border-top-width: 24px;
  position: absolute;
  left: 1px !important;
  transform: rotate(90deg);
  top: 278px !important;
  text-shadow: 0 0 0px black;
}
#root
  > div
  > div
  > div.mainbody
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  > div:nth-child(3) {
  border-top-width: 24px;
  position: absolute;
  left: 1px !important;
  transform: rotate(90deg);
  top: 278px !important;
  text-shadow: 0 0 0px black;
}
/*#map div div div:last-child div:last-child div div div:nth-child(3) {
  left: 0 !important;
  top: 30px !important;
  border-top-width: 24px;
  position: absolute;
  transform: rotate(90deg);
}
*/

#root
  > div
  > div
  > div.mainbody
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  > div:nth-child(4) {
  width: 283px !important;
  height: 558px !important;
  overflow: auto !important;
}
#root
  > div
  > div
  > div.mainbody
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  > div:nth-child(2) {
  width: 283px !important;
  height: 558px !important;
  overflow: auto !important;
}
#root
  > div
  > div
  > div.mainbody
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > div:nth-child(4)
  > div
  > button {
  top: 11px !important;
  right: 46px !important;
  width: 46px !important;
  margin-right: 10px !important;
}
#root
  > div
  > div.mainbody
  > div
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div
  > div:nth-child(4)
  > div {
  width: 283px !important;
  height: 580px !important;
  /*overflow: auto !important;
 */
}
.gm-style-iw {
  top: 0 !important;
}
.mainbody {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.statefilter {
  width: 177px;
}
.infoWindowImg {
  border-radius: 50%;
  box-shadow: 2px 4px 12px grey;
  margin: 44px;
  width: 150px;
  height: 150px;
}
.infoWindowDetail {
  list-style-type: none;
  margin-top: 50px;
  margin-left: -29px;
}
.infoWindowDetail li {
  margin-bottom: 20px;
}
.infoWindowName {
  text-align: center;
}
.portal {
  margin-top: 20px;
  text-align: center;
}
.portal span {
  margin-right: 10px;
}
/********************************** Responsive navbar-brand image CSS - Remove navbar-brand padding for firefox bug workaround - add 100% height and width auto ... similar to how bootstrap img-responsive class works ***********************************/
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  margin-top: 2px;
  margin-left: 8px;
  padding: 5px;
  width: 60%;
}
@media (min-width: 200px) {
  .container {
    width: auto;
  }
  @media (max-width: 1280px) {
    .filterbuttonreset {
      width: 6%;
    }
    .filterbuttonapply {
      width: 6%;
    }
  }
}
@media (max-width: 770px) {
  .rmssidebar {
    display: none;
  }
  body {
    overflow: scroll;
  }
  .navbar-nav {
    margin: 0;
  }
  .statefilter {
    width: -webkit-fill-available !important;
  }
  .btn .caret {
    transform: rotate(180deg);
  }
  .filterbuttonreset {
    float: right;
    width: 43%;
  }
  .filterbuttonapply {
    float: left;
    width: 43%;
  }
  .sidebarheader {
    display: block !important;
  }
  .sidebarheader img {
    width: 7%;
    margin-right: 10px;
  }
  #root
    > div
    > div.mainbody
    > div
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > div:nth-child(4)
    > div
    > div:nth-child(1)
    > div:nth-child(4) {
    width: 237px !important;
    height: 580px !important;
    overflow: auto !important;
  }
  #root
    > div
    > div.mainbody
    > div
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > div:nth-child(4)
    > div
    > div:nth-child(1)
    > div:nth-child(2) {
    width: 237px !important;
    height: 580px !important;
    overflow: auto !important;
  }
  #root
    > div
    > div.mainbody
    > div
    > div:nth-child(2)
    > div:nth-child(1)
    > div
    > div
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > div:nth-child(4)
    > div {
    width: 237px !important;
    height: 580px !important;
    /*overflow: auto !important;
     */
  }
  .gm-style-iw {
    left: -76px !important;
  }
  .infoWindowImg {
    width: 120px !important;
    height: 120px !important;
    margin: 30px !important;
  }
  .filterImg {
    width: 15%;
  }
  .main_sidebar {
    display: none;
  }
  .filterIcon {
    display: block;
    margin: 11px 0px 0px 6px;
  }
  .gaurav {
    float: none;
  }
  .verticalLine {
    display: none;
  }
}
/* EXAMPLE 9 - Center with Flexbox and Text*/
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
  z-index: 1;
}
/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-right: 15px;
  margin-left: 15px;
}
.navbar-nav > li > .dropdown-menu {
  z-index: 9999;
}
/* body {
  font-family: "Lato" !important;
} */

.rmsedithead {
  margin-left: 1.5em;
  margin-bottom: 3em;
}
.rmseditbody {
  margin: 2em;
}
.gm-style .gm-style-iw-c {
  width: min-content !important;
  left: -40px;
}
.gauravwww .gm-style-iw-d {
  overflow: hidden !important;
  width: -webkit-fill-available;
  max-width: -webkit-fill-available !important;
  max-height: unset !important;
}
.gauravwww .gm-style .gm-style-iw-c {
  padding: 0 !important;
  width: 800px;
  max-width: -webkit-fill-available !important;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: -32px;
}
.gauravwww .gm-style .gm-style-iw-t::after {
  background-color: #ffffff;
  top: 0px;
  left: 0;
}
/* #root > div > div > div.mainbody > div > div:nth-child(2) > div:nth-child(1) > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div > div > div > div{
  overflow: hidden !important;
  width: -webkit-fill-available;
    max-width: -webkit-fill-available !important;
}
#root > div > div > div.mainbody > div > div:nth-child(2) > div:nth-child(1) > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div > div > div{
  padding: 0 !important;
  width: 800px;
  max-width: -webkit-fill-available !important;
  background-color: #FFFFFF;
  border: 1px solid #e6e6e6;
  left: 0px
} */
.gm-style .gm-style-iw-t::after {
  background-color: #ffffff;
}
.cwmap .infobox {
  box-shadow: 0 0 5px #000;
  border-radius: 6px;
}

.clearfix {
  zoom: 1;
}

.breakline {
  display: none;
}
.infobox .header {
  background: #e6e6e6;
  border-bottom: 1px solid #ccc;
  width: -webkit-fill-available;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.farmerportalfont b {
  font-weight: 400;
}
.infobox h3 {
  /* font: 17px/21px Arial, sans-serif; */
  font-size: 20px;
  text-align: left;
  text-transform: none;
  color: #494949;
  font-weight: 500;
  margin: 0;
  margin-left: 7px;
  padding: 7px;
}
.palceholder {
  margin-left: 2.5em;
  margin-top: 0.7em;
}
.gm-ui-hover-effect {
  top: 0px !important;
  right: 1px !important;
}
.gm-style .gm-style-iw-t::after {
  box-shadow: none !important;
  top: -264px;
  left: -174px;
}
.infobox .body {
  text-align: left;
  padding: 12px;
  width: 800px;

  /* font-family: Gotham; */
  color: #494949;

  border-top-color: #ffffff;
  text-shadow: #fff -1px 1px 0;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.farmerportalfont {
  font-size: medium;
}
.farmerrow {
  margin-bottom: 1em;
}

.infobox .image {
  width: 30%;
  float: left;
}
.famrerimggg {
  transform: rotate(270deg) translate(24px, 30px);
}

.infobox .column {
  width: 70%;
  float: right;
  padding: 0 5px;
  margin-top: 1em;
  /* font-family: Gotham */
}
.famrerimggg {
  margin-bottom: -3.2em;
}
@media (max-width: 770px) {
  .breakline {
    display: block;
  }
  .palceholder {
    margin-left: 0;
    margin-top: 0;
  }
  .farmerrow {
    margin-bottom: 0.6em;
  }
  .infobox .body {
    width: 235px;
    overflow: scroll !important;
    height: auto;
    padding: 2px 12px !important;
  }
  .famrerimggg {
    transform: rotate(270deg) translate(19px, 0);
  }
  .infobox .image {
    width: auto;
    text-align: center;
    margin-bottom: 8px;
    float: none;
  }
  .infobox .column {
    width: 100%;
    float: none;
    margin-top: 0;
  }
  .infobox h3 {
    font-size: medium;
  }
  .farmerportalfont {
    font-size: small !important;
  }
  .gauravwww .gm-style-iw {
    left: 0 !important;
    max-height: unset !important;
  }
}
.famerinfobox{
  padding-left:0px; 
  font-size: 1.1em;
  /* font-style: la; */
}
.famerinfoheaderbox{
  padding-left: 3.3em;
    padding-top: 2em;
}
.farmerinfoheader{
  padding: 1em;
  margin-left: 0; 
  /* color:#777; */
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  border: 1px solid #ddd;
  border-bottom:0;
}
.farmerinfobody{
  /* font-size: 1.2em; */
  /* max-height: 60vh; */
  overflow: scroll;
  /* padding: 1em; */
  margin-left: 0; 
  color:#777;
}
.list-group-item{
  background-color:transparent;
}
.farmerinforow{
  margin-bottom: 1em;
}
.farmerinforowtitle{
  color:black;
  margin-top: 0.3em;
}
.farmerlists{
  /* margin-top: 0.8em; */
  max-height: 72vh;
  overflow: scroll;
}
label {
  /* font-weight: 500 !important; */
  color: black;
}
.cancelbutton:hover {
  background: white;
  border-color: transparent;
  color: red;
}
a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  color: black;
  font-size: 16px;
}
.list-group-item-text{
  font-size: 14px;
}
/* .gauravwww ::-webkit-scrollbar {
  width: 10px;
  
}

.gauravwww ::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 10px #888888;
  border-radius: 8px;
}

.gauravwww ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px #888888; 
} */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color:white;
  color: black;
  border-color: #c0c0c0;
}
.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text{
  color:black;
}
#maptable::-webkit-scrollbar {
  width: 0.5em;
}

/* #maptable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} */

#maptable::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.kycbody{
  padding: 1em;
}
.farmerinfobody  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color: transparent !important;
}
.farmerinfobody .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  /* color: #555; */
  cursor: default;
  background-color: transparent;
  border: 0;
  /* border-bottom-color: blue; */
  border-bottom: 0.1em solid blue;
}
.farmerinfobody .nav-tabs>li>a:hover{
  background-color: transparent;
  border-bottom: 0.1em solid gray;
  /* border: 0; */
  /* border-color:transparent; */
}
.farmerinfobody .nav-tabs>li>a{
  border:0;
}